body{
    margin: 0;
    padding: 0;
    background-color: #A1A5A8;
}

@import 'base/variables';
@import 'base/funciones';
@import 'layout/contenido';
@import 'layout/header';
@import 'layout/footer';
@import 'components/table';
@import 'components/section';
@import 'components/formulario';
@import 'components/inputs';
@import 'components/paginator';