body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family:$font_body;
    // background-image: url(../recursos/zonaL.JPG);
    // background-repeat: no-repeat
}

@import 'base/variables';
@import 'base/funciones';
@import 'layout/contenido';
@import 'layout/header';
@import 'layout/footer';
@import 'components/table';
@import 'components/section';
@import 'components/formulario';
@import 'components/scroll';
@import 'components/inputs';
@import 'components/paginator';