.contenido{
    margin-top: 11%;
    margin-left: 5px;
    margin-right: 20px;
    margin-bottom: 8%;

    // h1{
    //     margin-left: 35%;
    //     font-size: 2.2em;
    //     width: 32.2%;
    //     // height: 50px;
    //     background-color: white;
    //     text-align: center;
    //     margin-bottom: 0;
    //     padding-bottom: 10px;
    //     padding-top: 10px;

    // }
}