form{
    margin-left: 30%;
    background-color: white;
    padding: 20px;
    border-bottom: 16px;
    width: 35%;
    border: 1px solid black;
    font-size: 1.1em;

    h1{
        padding-bottom: 10px;
        font-size: 2.2em;
        text-align: center;
        border-bottom: 3px solid black;
    }

    section{
        margin-bottom: 5%
    }
    span{
        @include camposEscondidos;
    }
}

.login{
    margin-top: 5%;
    width: 350px;
    height: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    margin-left: 38%;
    font-size: 1.2em;

}

.imagen_form{
    margin-left: 42%;
    margin-top: 2%;
}

.form_examen{
    margin-left: 10px;

    h1{
        margin-top: 20px;
        margin-left: 10px;
    }
}