form{
    margin-top: 20px;
    margin-left: 35%;

    section{
        margin-bottom: 5%
    }
    span{
        @include camposEscondidos;
    }
}

.login{
    margin-top: 5%;
}

.form_examen{
    margin-left: 10px;

    h1{
        margin-top: 20px;
        margin-left: 10px;
    }
}