@keyframes iluminar {
    from {
        background-color: grey;
    }
    to {
        background-color: $color_fondo;
    }
}


.btn_enviar{
    width: 150px;
    height: 40px;
    margin-left: 25%;
    margin-top: 10%;
    border-radius: 20px;

}
.btn_examen{
    width: 150px;
    height: 40px;
    margin-top: 1%;
    margin-left: 25%;
    border-radius: 20px;
}

.btn_form{
    width: 150px;
    height: 40px;
    margin-left: 30%;
    border-radius: 20px;
}
.inputs{
    height: 40px;
    width: 100%;
    border-radius: 12px;
}

.btn_enviar:hover{
    @include animaciones(botones, 0.4s, linear);
    background-color: $color_fondo;
}

.btn_examen:hover{
    @include animaciones(botones, 0.4s, linear);
    background-color: $color_fondo;
}

.btn_form:hover{
    @include animaciones(botones, 0.4s, linear);
    background-color: $color_fondo;
}

#finalizar_examen{
    margin-left: 60%;
}