.paginador{
    text-align: center;
    font-size: 1.8em;
    width: 50%;
    margin-left: 20%;


    a{
        padding: 8px 16px;
        text-decoration: none;
        color: black;
        border: 1px solid #ddd;
        background-color: white;

    }

    input{
        padding: 8px 16px;
        font-size: 1.2em;
        color: black;
        border: 1px solid #ddd;
        background-color: white;


    }
    .act{
        background-color: rgb(0, 183, 255);
    }


    a.activo {
        background-color: #4CAF50;
        color: white;
    }

    a:hover:not(.activo) {
        background-color: #ddd;
    }

    .correcto{
        background-color: green;
    }

    .incorrecto{
        background-color: red;
    }
}