.contenedorP{
    background-color: $color_fondo_section;
    width: 30%;
    border: 1px solid black;
    overflow-y: scroll;
    font-size: 1em;
    height: 300px;
}

#contenedor_preguntas{
    float: left;
    margin-left: 30px;
    // height: 300px;
    // width: 300px;

    div{
        border-bottom: 1px solid black;
        padding: 5px;
        // user-select: none;
    }
}

.central{
    margin-left: 14%;
    margin-top: 100px;
}


#contenedor_preguntas_examen{
    float: right;
    margin-right: 30px;
    // height: 300px;
    // width: 200px;

    div{
        border-bottom: 1px solid black;
        padding: 5px;
    }

    h1{
        font-size: 2em;
    }
}