.contenedorP{
    background-color: $color_fondo_section;
    width: 20%;
    border: 1px solid black;
    overflow-y: scroll;
    font-size: 1em;
    width: 30%;
    height: auto;
}

#contenedor_preguntas{
    float: left;
    margin-left: 30px;

    div{
        border-bottom: 1px solid black;
        padding: 5px;
        // user-select: none;
    }
}


#contenedor_preguntas_examen{
    float: right;
    margin-right: 30px;

    div{
        border-bottom: 1px solid black;
        padding: 5px;
    }

    h1{
        font-size: 2em;
    }
}