.contenedorP{
    background-color: white;
    width: 30%;
    border: 1px solid black;
    overflow-y: scroll;
    font-size: 1em;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
    // box-shadow: inset 0 0 15px 10px black;
    color: black;
}

#contenedor_preguntas{
    float: left;
    margin-left: 30px;
    // height: 300px;
    // width: 300px;

    div{
        border-bottom: 1px solid black;
        padding: 5px;
        // user-select: none;
    }

    div.oculto{
        display:none;
    }
}

.central{
    margin-left: 10%;
    margin-top: 100px;
}


#contenedor_preguntas_examen{
    float: right;
    margin-right: 30px;
    // height: 300px;
    // width: 200px;

    div{
        border-bottom: 1px solid black;
        padding: 5px;
    }

    h1{
        font-size: 2em;
    }
}

.escondido{
    display: none;
}

#preguntas_examen{
    h2{
        text-align: center;
        color: $color_fondo;
    }

}
.botones_examen{
    margin-left: 30%;
    background-color: white;
    padding: 20px;
    width: 35%;
    margin-top: 0;
    // border: 1px solid black;
    text-align: center;

}


.altasMasivas{
    margin-left: 30%;

    h1{
        font-size: $tamano_h1;
        font-weight:lighter;
        margin-left: 7%;
    }

    textarea{

        border:8px solid #f6f6f6;
        border-radius:3px;
        background-color:#f6f6f6;
        margin:8px 0;
    }

    button{

        text-decoration: none;
        margin-left: 12%;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: $color_fondo;
        border-radius: 6px;
        border: 2px solid #007045;
        width: 25%;
    }

    button:hover{
        color: $color_fondo;
        background-color: #ffffff;
    }
}

#imagen_index{
    margin-top: 4%;
    margin-left: 22%;
    width: 800px;
    img{
        width: 100%;
    }
}