$color_texto : #eee;
$color_texto_hover: #fff;
$color_fondo: #50C15D;
$color_fondo_hover: black;
$color_fondo_section: rgb(173, 171, 171);
$color_cabecera_footer :#A1A5A8;

$font_h1: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font_body: Arial, Helvetica, sans-serif;


$tamano_h1:2.2em;

$color_error : red;